@font-face {
  font-family: gunship;
  src: url(../fonts/gunship.ttf);
}
@font-face {
  font-family: MotterTektura;
  src: url(../fonts/motter-tektura.ttf);
}
@font-face {
  font-family: II40;
  src: url(../fonts/II40.ttf);
}
@font-face {
  font-family: PlexMono;
  src: url(../fonts/IBMPlexMono-Text.ttf);
}
@font-face {
  font-family: SourceCodePro;
  src: url(../fonts/SourceCodePro-Semibold.ttf);
}
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: 'CabinSketch';
  src: url(../fonts/CabinSketch/CabinSketch-Regular.ttf);
}

@font-face {
  font-family: 'Creepster';
  src: url(../fonts/Creepster/Creepster-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'GermaniaOne';
  src: url(../fonts/GermaniaOne/GermaniaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PirataOne';
  src: url(../fonts/PirataOne/PirataOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  src: url(../fonts/PixelifySans/PixelifySans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SairaStencilOne';
  src: url(../fonts/SairaStencilOne/SairaStencil_One-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: url(../fonts/Satisfy/Satisfy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sevillana';
  src: url(../fonts/Sevillana/Sevillana-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url(../fonts/ShadowsIntoLight/ShadowsIntoLight-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Silkscreen';
  src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf) format('truetype');
}

body {
	overflow:hidden;
	font-family: II40;
	margin:0px; 
	padding:0px;
	background-color:black;
}

canvas {
	margin:0px; padding:0px;
	background-color:black;
	image-rendering: pixelated;
}

#gravityhelpercanvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 9998;
}

#gravityhelpermaincanvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 9999;
}

#gravitycanvas {
	/*background-color:blue;*/
}

#gravityterminal{
	/*background-color:darkgreen;*/
}


#gravityscreen {
	position:relative;
}

#gravityframe {
	float:left;
	padding:20px;
	padding-bottom:20px;
	background-color:#d3d3d3;
}
