@font-face {
  font-family: gunship;
  src: url(../fonts/gunship.ttf);
}
@font-face {
  font-family: MotterTektura;
  src: url(../fonts/motter-tektura.ttf);
}
@font-face {
  font-family: II40;
  src: url(../fonts/II40.ttf);
}
@font-face {
  font-family: PlexMono;
  src: url(../fonts/IBMPlexMono-Text.ttf);
}
@font-face {
  font-family: SourceCodePro;
  src: url(../fonts/SourceCodePro-Semibold.ttf);
}
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
body {
	overflow:hidden;
	font-family: II40;
	margin:0px; 
	padding:0px;
	background-color:black;
}

canvas {
	margin:0px; padding:0px;
	background-color:black;
}

#gravityhelpercanvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 9998;
}

#gravityhelpermaincanvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 9999;
}

#gravitycanvas {
	/*background-color:blue;*/
}

#gravityterminal{
	/*background-color:darkgreen;*/
}


#gravityscreen {
	position:relative;
}

#gravityframe {
	float:left;
	padding:20px;
	padding-bottom:20px;
	background-color:#d3d3d3;
}
